@import "./reset.scss";
@import "./iconfont.scss";

html,body{
	height: 100%;
}
body {
	font-family: "Microsoft YaHei",PingFangSC-regular,"Helvetica Neue",  "Hiragino Sans GB", "WenQuanYi Micro Hei", " sans-serif";
	background-color: #f8f8f8;
}